body {
	font-family: Arial, Helvetica, sans-serif;
}

.program-form .program-label {
	color:#000;
}

table.program-form {
	color:#000;
}

tr.table-header {
	color:#fff;
	background-color:#000;
	padding: 2px 2px 2px 2px;
}

tr, td, .program-form {
	padding: 5px 5px 5px 5px;
}

.program-field-label {
	text-align: right;
	background: #cdcdcd;
}

.program-field-name {
	text-align: right;
	background: #efefef;
}

.program-field-name.days {
	text-align: left;
}

input[type=text],
input[type=password] {
	width: 97%;
	outline: none;
	border: 1px solid #000;
	padding: 3px;
	text-align: right;
}

input[type=textarea] {
	width: 100%;
	outline: none;
	border: 1px solid #000;
	padding: 3px;
}

td .field-error input {
	border-color: #FF0000;
}

table.program-form, table.program-listing,
table.password-change-form {
	border: solid #000 1px;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
}

.red-bold {
	color: #FF0000;
	font-weight: bold;
}

.error-message {
	color: #FF0000;
}

li {
	list-style: none;
}

.rowA {
	background-color: #cdcdcd;
}
.rowB {
	background-color: #dfdfdf;
}

a:visited, a:link {
	text-decoration: none;
	color: blue;
}
td.program-name:hover {
	text-decoration: none;
	background-color: #fff;
}

a:hover {
	color: red;
}

.form-help-text {
	font-size: 0.7em;
	font-weight: bold;
}

.program-image {
	text-align: center;
	background: #dfdfdf;
}

.form-row,
fieldset {
	width:20%;
}

.errorlist {
	color: red;
}
