{% extends "base/base.html" %}
{% load url from future %}

{% block body %}

<img src="/media/img/logo-rna.png">

{% if form.errors %}
<p>El nombre de usuario y/o la contraseña no son válidos.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td><label for="id_username">Usuario</label></td>
    <td><input id="id_username" type="text" name="username" maxlength="30" /></td>
</tr>
<tr>
    <td><label for="id_password">Clave</label></td>
    <td><input type="password" name="password" id="id_password" /></td>
</tr>
</table>

<input type="submit" value="Entrar" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
