*.swo
*.swp
*.pyc
*.pyo
*~
.installed.cfg
local_settings.py
parts/
eggs/
bin/
lib/
tmp/
include/
develop-eggs/
buildout/
.htpasswd
*.log
share/
project/media/uploaded_images/
local/
timeslot.sql
pip-selfcheck.json
