<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="en-us" http-equiv="Content-Language" />
<title>{% block title %}Radio Nacional . Gestor de programas{% endblock %}</title>
{% block head %}
                <script src="/media/js/jquery-1.9.0.min.js" type="text/javascript" charset="utf-8"></script>

                <link rel="stylesheet" href="/media/css/styles.css" type="text/css">

		{% block headcustom %}{% endblock %}

{% endblock %} {# head #}

</head>
<body class="blog custom-background background-image header-image simple-menu sidebars" id="body">

<h2> {{ user.first_name }} - Programación Semanal</h2>
<p>
	<a href="/">Inicio</a>
	| <a href="/program/">Agregar programa</a>
	| <a href="/{{ request.user.username }}/now_playing.json" target="_blank">Now Playing</a>
	| <a href="/accounts/logout/">Salir</a>
</p>
{% block body %}{% endblock %}
</body>
</html>
