{% load thumbnail %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="en-us" http-equiv="Content-Language" />
<title>{% block title %}RadioFlow Scheduler . Gestor de programas{% endblock %}</title>
{% block head %}

                <link rel="stylesheet" href="/media/css/styles.css" type="text/css">

		{% block headcustom %}{% endblock %}

{% endblock %} {# head #}

</head>
<body class="blog custom-background background-image header-image simple-menu sidebars" id="body">

{% if request.user.is_authenticated %}
<table>
	<tr>
		{% if request.user.config.get_logo_url %}
		<td>
			<img src="{% thumbnail request.user.config.logo 160x120 %}">
		</td>
		{% endif %}
		<td><h2>Programación Semanal</h2></td>
	</tr>
</table>
<p>
	<a href="/">Inicio</a>
	| <a href="/program/">Agregar programa</a>
	<!-- | <a href="/{{ request.user.username }}/now_playing.json" target="_blank">Now Playing</a> -->
	| <a href="/config/">Configuración</a>
	| <a href="/accounts/password_change/">Cambiar contraseña</a>
	| <a href="/accounts/logout/">Salir</a>
</p>
{% endif %}

{% block body %}{% endblock %}
</body>
</html>
