{% extends "base/base.html" %}

{% block content %}
    <!-- Chat -->
    <iframe id="chat-iframe" src="https://dashboard.tawk.to/login?lang=es" width="100%" height="300" onload="iframeHeight()"></iframe>
    <script type="text/javascript">
        function iframeHeight() {
            
            var footer_height = $('.main-footer').outerHeight() || 0;
            var neg = $('.main-header').outerHeight() + footer_height;
            var window_height = $(window).height();
            var sidebar_height = $(".sidebar").height() || 0;
            //Set the min-height of the content and sidebar based on the
            //the height of the document.
            if ($("body").hasClass("fixed")) {
              $('#chat-iframe').css('min-height', window_height - footer_height);
            } else {
              var postSetWidth;
              if (window_height >= sidebar_height) {
                $('#chat-iframe').css('min-height', window_height - neg);
                postSetWidth = window_height - neg;
              } else {
                $('#chat-iframe').css('min-height', sidebar_height);
                postSetWidth = sidebar_height;
              }
              //Fix for the control sidebar height
              var controlSidebar = $($.AdminLTE.options.controlSidebarOptions.selector);
              if (typeof controlSidebar !== "undefined") {
                if (controlSidebar.height() > postSetWidth)
                  $('#chat-iframe').css('min-height', controlSidebar.height());
              }
            }
            
        }
    </script>
{% endblock %}
