{% extends 'base/base.html' %}
{% block headcustom %}
<script>
function confirm_delete(f, msg) {
  if (confirm(msg)) return true;
  else return false;
}
</script>
{% endblock %}

{% block body %}

<h3>Configuración</h3>

    <form id="program-form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
		<table class="program-listing">
    {% for field in config_form %}
			<tr class="{% cycle 'rowA' 'rowB' %}"><td class="program-field-label">{{ field.label_tag }}</td><td>{{ field }}</td></tr>

    {% endfor %}
		{% if config.image %}
		<tr>
			<td colspan="2" class="program-image">
				<b>Fondo</b><br/>
				<img src="{{ config.image.url }}" width="320">
			</td>
		</tr>
		{% endif %}
		{% if config.logo %}
		<tr>
			<td colspan="2" class="program-image">
				<b>Logo</b><br/>
				<img src="{{ config.logo.url }}" width="320">
			</td>
		</tr>
		{% endif %}
		<tr>
			<td colspan="2" class="program-image">
    				<input class="submit" type="submit" value="Guardar configuración" />
			</td>
		</tr>
		</table>
    </form>

{% endblock %}
