{% extends 'base/base.html' %}
{% block headcustom %}
<script>
function confirm_delete(f, msg) {
  if (confirm(msg)) return true;
  else return false;
}
</script>
{% endblock %}

{% block body %}

<h1>Configuración</h1>

    <form id="program-form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
		<table class="program-listing">
    {% for field in config_form %}
			<tr class="{% cycle 'rowA' 'rowB' %}"><td>{{ field.label_tag }}</td><td>{{ field }}</td></tr>

    {% endfor %}
		<tr>
			<td colspan="2" class="program-image">
				<img src="{{ config.image.url }}" width="320">
			</td>
		</tr>
		<tr>
			<td colspan="2" class="program-image">
    				<input class="submit" type="submit" value="Guardar configuración" />
			</td>
		</tr>
		</table>
    </form>

{% endblock %}
