{% extends 'base/base.html' %}
{% block headcustom %}
<script>
function confirm_delete(f, msg) {
  if (confirm(msg)) return true;
  else return false;
}
</script>
{% endblock %}

{% block body %}

{% for day in weekly_programs %}
	{% for day,programs in day.items %}
		<h3>{{ day }}</h3>
		<table class="program-listing">
		<tr class="table-header">
			<td>Comienzo</td>
			<td>Fin</td>
			<td>Programa</td>
			<td>Conduce</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		{% for program in programs %}
			<tr class="{% cycle 'rowA' 'rowB' %}">
				<td>{{ program.start }}</td>
				<td>{{ program.end }}</td>
				<td class="program-name"><a href="/program/{{ program.id  }}/">{{ program.name }}</a></td>
				<td>{{ program.moderator }}</td>
				<td><a href="/program/{{ program.id }}/delete" onclick="return confirm_delete(this, 'Confirma eliminar: {{ program.name }}?')"> X </a></td>
				<td><a href="/program/{{ program.id }}"> E </a></td>
			</tr>
		{% endfor %}
		</table>
	{% endfor %}
{% endfor %}

{% endblock %}
