{% extends 'base/base.html' %}


{% block headcustom %}
<script language="javascript">
/*
$(document).ready(function() {
	$(function() {
		AjaxUploadWidget.autoDiscover();
	});
});
*/
</script>

{{ program_form.media }}

{% endblock %}

{% block body %}


<h1>Agregar Programa</h1>

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}



    <form id="program-form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table class="program-form">
	{% if program.image %}
	<tr>
		<td colspan="2" class="program-image">
			<img src="{{ program.image.url }}" width="320">
		</td>
	</tr>
	{% endif %}
    {% for field in program_form %}
	<tr>
		<td class="program-field-label">{{ field.label_tag }}</td>
		<td class="program-field-name {% if field.name == 'days' %} days{% endif %}">{{ field }}
			{% if field.help_text %}<br/><span class="form-help-text">{{ field.help_text }}</span>{% endif %}
			<br/><span id="{{ field.name }}-error" class="error-message"></span>
		</td>
	</tr>
    {% endfor %}
	<tr>
		<td colspan="2" class="program-image">
 			<input class="submit" type="submit" value="Guardar programa" />
		</td>
	</tr>
    </table>

    </form>

    {{ programs }}
    {% for program in programs %}
	{{ program.name }}<br/>...
    {% endfor %}
{% endblock %}
