{% extends 'base/base.html' %}


{% block headcustom %}
<script language="javascript">
/*
$(document).ready(function() {
	$(function() {
		AjaxUploadWidget.autoDiscover();
	});
});
*/
</script>

{{ program_form.media }}

{% endblock %}

{% block body %}


<h3>Agregar Programa</h3>

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}



    <form id="program-form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table class="program-form">
    <tr><td colspan="2" class="row-title"><b>Campos públicos (visibles en la aplicación móvil)</b></td></tr>
    {% for field in program_form %}
	<tr>
		<td class="program-field-label">{{ field.label_tag }}</td>
		<td class="program-field-name {% if field.name == 'days' %} days{% endif %}">{{ field }}
	{% if field.name == 'image' and program.image %}
			<div style="float:left"><img src="{{ program.image.url }}" width="320"></div>
	{% endif %}
			{% if field.help_text %}<br/><span class="form-help-text">{{ field.help_text }}</span>{% endif %}
			<br/><span class="error-message">{{ field.errors }}</span>
		</td>
	</tr>
	{% if field.name == 'image' %}
			<tr><td colspan="2">&nbsp;</td></tr>
			<tr><td colspan="2" class="row-title"><b>Campos internos (no se muestran en la aplicación móvil)</b></td></tr>
	{% endif %}
    {% endfor %}
	<tr>
		<td colspan="2" class="program-image">
 			<input class="submit" type="submit" value="Guardar programa" />
		</td>
	</tr>
    </table>

    </form>

    {{ programs }}
    {% for program in programs %}
	{{ program.name }}<br/>...
    {% endfor %}
{% endblock %}
