{% extends "base/base.html" %}
{% load thumbnail %}

{% block content %}

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
          			Programación
                </h1>
                <ol class="breadcrumb">
                    <!-- <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li> -->
                    <li class="active"><i class="fa fa-dashboard"></i> panel de control</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content container-fluid">
				<!-- Main row -->
				<div class="row">
			        <!-- Left col -->
			        <section class="col-xl-7 connectedSortable">

			        	<!-- quick email widget -->
			        	<div class="box box-info" id="quick-add">

		        			<form id="program-form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}

				        		<div class="box-header">

        							{% if program %}
        							<i class="fa fa-edit"></i>
    								<h1 class="box-title">Editar Programa</h1>
	        						{% else %}
				        		  	<i class="fa fa-plus"></i>
				        		  	<h3 class="box-title">Agregar Programa</h3>
	        						{% endif %}

				        		  	<!-- tools box -->
				        		  	<div class="pull-right box-tools">
				        		    	<!-- <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button> -->
				        		  		<button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
				        			</div>
				        		  <!-- /. tools -->
				        		</div>
			        			
				        		<div class="box-body">

				        			{% if error_message %}
				        			<div class="alert alert-danger">
				        				<strong>{{ error_message }}</strong>
				        			</div>
			        				{% endif %}

			        			    <div class="program-form">

			        			    	<div class="form-group">
			        			    		<div colspan="2" class="row-title">
			        			    			<h4><b>Campos públicos (visibles en la aplicación móvil)</b></h4>
			        			    		</div>
			        			    	</div>
			        			    
			        			    	<div class="fields">

		        							{% if program.image %}				        							
	        								<div class="program-image-field">
		        								<div class="program-image"><img src="{{ program.image.url }}" height="100"></div>
		        							{% endif %}				        						

			        			    		<div class="form-group config-publicos">
		        			    			{% for field in field_groups.publicos %}
				        						{% if field.name != 'image' and field.name != 'show_labels' %}
				        			    		<div class="program-field">
				        						{% if field.errors %}
				        							<div class="alert alert-danger">
					        			    			<span class="error-message">{{ field.errors }}</span>
				        							</div>
				        						{% endif %}
				        						<p class="help">{{ field.help_text }}</p>
				        						{{ field }}
				        			    		</div>
					        					{% endif %}
		        			    			{% endfor %}
			        			    		</div>

		        							{% if program.image %}
		        							</div>
		        							{% endif %}

		        			    			{% for field in field_groups.publicos %}
			        			    		<div class="form-group config-publicos">
				        			    		<div class="program-field">
				        						{% if field.errors %}
				        							<div class="alert alert-danger">
					        			    			<span class="error-message">{{ field.errors }}</span>
				        							</div>
				        						{% endif %}
				        						{% if field.name == 'image' %}
					        						<div>{{ field.label_tag }}</div>
				        							<span class="btn btn-primary fileinput-button">
				        				                <i class="ion-image"></i>
				        								<span>{{ field.help_text }}</span>
				        			    				{{ field }}
				        							</span>
					        					{% elif field.name == 'show_labels' %}
					        						<div>{{ field.label_tag }}</div>
				        			    			<label class="btn-switch">
				        			    				{{ field }}
				        			    				<span class="btn-slider"></span><b class="on">Sí</b><b class="off">No</b>
				        			    			</label>
					        					{% endif %}
				        			    		</div>
			        			    		</div>
		        			    			{% endfor %}


			        			    		<hr>
		        			    			
		        			    		</div>

			        					<hr>

			        			    	<div class="fields">

				        					<div class="form-group">
				        						<div colspan="2" class="row-title">
				        							<h4><b>Campos internos (no se muestran en la aplicación móvil)</b></h4>
				        						</div>
				        					</div>
				        				

	        			    			{% for field in field_groups.internos %}

	        								{% if field.name == 'days' %}

				        					<div class="form-group">
				        						<div class="program-field-label">
				        							<label>Dias:</label>
				        						</div>
				        						<div class="program-field-name days">
				        							<div class="btn-group" id="id_days">
				        								{% for subfield in field %}
			        									<span class="django-fix-label btn btn-default">
			        								    	{{ subfield }}
			        								    </span>
				        								{% endfor %}
				        							</div>				        					
					        						{% if field.errors %}
					        							<div class="alert alert-danger">
						        			    			<span class="error-message">{{ field.errors }}</span>
					        							</div>
					        						{% endif %}
				        						</div>
				        					</div>

			        						{% elif field.name == 'description' %}

			        						<div class="form-group">
			        							<div class="program-field-label">
			        								{{ field.label_tag }}
			        							</div>
			        							<div class="program-field-name">
			        								{{ field }}
			        								<br>
			        								<span class="form-help-text">{{ field.help_text }}</span>			        								
					        						{% if field.errors %}
					        							<div class="alert alert-danger">
						        			    			<span class="error-message">{{ field.errors }}</span>
					        							</div>
					        						{% endif %}
			        							</div>
			        						</div>

			        						{% else %}

		        								{% if field.name == 'start' %}
					        					<div class="form-group">
					        						<div class="row">
			        							{% endif %}

					        							<div class="col-xs-6">
				        								{{ field.label_tag }}
					        			    			{{ field }}
						        						{% if field.errors %}
						        							<div class="alert alert-danger">
							        			    			<span class="error-message">{{ field.errors }}</span>
						        							</div>
						        						{% endif %}
					        							</div>

			        							{% if field.name == 'end' %}
					        						</div>
					        					</div>
		        								{% endif %}

			        						{% endif %}
				        			    
	        			    			{% endfor %}

				        				</div>

			        				</div>

				        		</div>
				        		<div class="box-footer bg-gray-light clearfix">
				        			{% if program %}
				        		  	<a class="pull-left btn btn-default" href="/program/"><i class="glyphicon glyphicon-menu-left"></i> Volver </a>
				        		  	<button type="submit" class="pull-right btn btn-primary"><i class="fa fa-save"></i> Guardar </button>
				        		  	{% else %}
				        		  	<button type="submit" class="pull-right btn btn-success"><i class="glyphicon glyphicon-plus"></i> Agregar </button>
				        		  	{% endif %}
				        		</div>

		        			</form>

			        	</div>

			        </section>
			        <!-- /.Left col -->
			        <!-- right col (We are only adding the ID to make the widgets sortable)-->
			        <section class="col-xl-5 connectedSortable">

			        	<!-- Programación -->
			        	<div class="dashboard-widget box box-primary" id="programacion-grilla">
			        	    <div class="box-header">

			        	        <!-- tools box -->
			        	        <div class="box-tools pull-right">

			        	            <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>

			        	            <ul class="pagination pagination-sm inline" style="margin-right: 5px;">
			        	            	{% for week_day in weekly_programs %}
		        	            	    	{% for day,programs in week_day.items %}
		        	              			<li class="toggleSiblings {% if day.name == 'Lunes' %}active{% endif %}" data-class="active"><a data-table="{{ day }}" href="javascript:void(0)">{{ day.name|slice:"0:2" }}</a></li>
		        	            	    	{% endfor %}
	        	            	    	{% endfor %}
			        	            </ul>
			        	        </div>
			        	        <!-- /. tools -->

			        	        <i class="ion ion-clipboard"></i>
			        	        <h3 class="box-title">Programación</h3>

			        	    </div>
			        	    <!-- /.box-header -->
			        	    <div class="box-body">
			        	        <div id="programacion-grilla-table-wrapper">
		        	                <div class="table-scroller table-scroller-xl">

		        	                	{% for week_day in weekly_programs %}

		        	                	    {% for day,programs in week_day.items %}

		        	                	    <table class="table table-striped table-bordered" data-page="{{ day }}">

		        	                	    	<tbody>

		        	                	    		<tr>
			        	                	    		<td align="center" width="50"><i class="fa fa-image"></i></td>
			        	                	    		<td width="90"><b>Hora</b></td>
			        	                	    		<td><b>Programa</b></td>
			        	                	    		<td><b>Conduce</b></td>
			        	                	    		<td align="center" width="60"><i class="fa fa-pencil"></i></td>
			        	                	    		<td align="center" width="60"><i class="fa fa-trash"></i></td>		        	                	    			
		        	                	    		</tr>
			        	                	    		
			        	                	    	{% for program in programs %}

			        	                	    	<tr data-id="{{ program.id }}">
			        	                	    	    <td class="text-center">
		        											{% if program.image %}
			        	                	    	    	<img class="thumb" src="{% thumbnail program.image 50x50 %}" style="max-width: 100%; height: auto;">
		        											{% endif %}
			        	                	    	    </td>
			        	                	    	    <td class="text-center">{{ program.start }} - {{ program.end }}</td>
			        	                	    	    <td>{{ program.name }}</td>
			        	                	    	    <td>{{ program.moderator }}</td>
			        	                	    	    <td align="center">
			        	                	    	    	<a class="btn btn-primary" href="/program/{{ program.id }}">
	        	                	    	    				<i class="fa fa-pencil"></i>
	        	                	    	    			</a>
	        	                	    	    		</td>
			        	                	    	    <td align="center">
			        	                	    	    	<button type="button" 
		        	                	    	    				class="btn btn-danger" 
			        	                	    	    			data-toggle="modal" 
			        	                	    	    			data-target="#modal-confirm" 
			        	                	    	    			data-title="Atención" 
			        	                	    	    			data-message="Seguro desea eliminar: {{ program.name }}?" 
			        	                	    	    			data-redirect="/program/{{ program.id }}/delete">
			        	                	    	    				<i class="fa fa-trash"></i>
			        	                	    	    			</button>
			        	                	    	    </td>
			        	                	    	</tr>

			        	                	        {% endfor %}

		        	                	    	</tbody>
		        	                	    </table>

	        	                	        {% endfor %}

        	                	        {% endfor %}

		        	                </div>
			        	            
			        	        </div>
			        	    </div>

			        	    <!-- /.box-body -->
			        	    <div class="box-footer clearfix no-border">
			        	    </div>

			        	    <script type="text/javascript">
			        	    	function confirm_delete(f, msg) {
			        	    	  if (confirm(msg)) return true;
			        	    	  else return false;
			        	    	}
			        	    </script>

			        	    <div class="modal-confirm modal fade" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
			        	      <div class="modal-dialog" role="document">
			        	        <div class="modal-content">
			        	          <div class="modal-header">
			        	            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        	            <h4 class="modal-title" id="gridSystemModalLabel"></h4>
			        	          </div>
			        	          <div class="modal-body">
			        	          </div>
			        	          <div class="modal-footer">
			        	            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			        	            <button type="button" class="btn btn-primary btn-confirm">Confirmar</button>
			        	          </div>
			        	        </div><!-- /.modal-content -->
			        	      </div><!-- /.modal-dialog -->
			        	    </div><!-- /.modal -->

			        	</div>
			        	<!-- /.box -->

			        </section>
			        <!-- right col -->
				</div>
				<!-- /.row (main row) -->

		    </section>
		    <!-- /.content -->
{% endblock %}
